{{ define "title"}}{{ t "page.feeds.title" }} ({{ .total }}){{ end }}

{{ define "content"}}
        <div class="header dummy">
    <ul>
        {{ range $category, $feeds := .feeds }}
        <li class="menu_category">
            <a href="{{ route "categoryEntries" "categoryID"  $category.ID }}">{{  $category.Title }}</a>
            <span class="category_foldable">
                <span class="category_open_folder">	&#128194;</span>
                <span class="category_closed_folder">&#128193;</span>
            </span>
        <ul>
            {{ range $feeds }}
            <li class="menu_item unread-counter-{{.Unread}}">
                <span class="title">
                    {{ if .Icon }}
                        <img src="{{ route "icon" "iconID" .Icon.IconID }}" width="16" height="16" alt="{{ .Title }}" />
                    {{ end }}
                    <a href="{{ route "feedEntries" "feedID" .ID }}">{{ .Title }}</a>
                </span>
                <span class="menu_unread">
                {{ if gt .Unread 0 }}
                    ({{ .Unread }})
                {{ end }}
                </span>
            </li>
            {{ end }}
        </ul></li>
        {{ end }}
    </ul>
        </div>
        <div class="breaker"></div>
        <div class="spacer"></div>
{{ end }}

